<%- include("partials/header") %>
    <%- include("navbar") %>
        <h1 class='purple-text text-center about-heading'>
            <%= heading %>
        </h1>
        <% book.forEach(contact=>{%>
            <%if(contact.name){%>
            <span>
                <div class="contact-box">
                    <h3 class='card-heading'>
                        <span onclick="copy">
                            <%= contact.name %>
                        </span>
                    </h3>
                    
                    <% const contactNamePath = contact.name.split(" ").join("%20") %>
                    <%let contactName = ""%>
                    <% if(contact.name.includes(" ")){%>
                        <% contactName = contactNamePath %> 
                    <%}else {%>
                        <% contactName = contact.name %> 
                    <% } %> 
                    
                    <form action=<%="/delete-contact/"+contactName%> method="get">

                        <button type="submit" class="delete-button"><i class="fa-solid fa-trash-can card-icon"></i></button>
                    </form>
                    
                </div>
            </span>
            <script>
                const copy = () => {
                    navigator.clipboard.writeText(contact)
                    alert("Copied details successfully!")
                }
            </script>
            <%}%>
            <%})%>
<%- include("partials/footer") %>