<%- include("partials/header") %>
    <%- include("navbar") %>
        <h1 class='purple-text text-center about-heading'>
            <%= heading %>
        </h1>
        <% book.forEach(contact=>{%>
            <span>
                <div class="contact-box">
                    <h3 class='card-heading'>
                        <%= contact.name %>
                    </h3>
                    <% const contactNamePath = contact.name.split(" ").join("%20") %>
                    <form action=<%="/delete-contact/"+contact.name.includes(" ")?contactNamePath:contact.name%> method="get">

                        <button type="submit" class="delete-button"><i class="fa-solid fa-trash-can card-icon"></i></button>
                    </form>
                </div>
            </span>
            <%})%>
<%- include("partials/footer") %>