<%- include("partials/header") %> 
<%- include("navbar") %>
<div class="text-center">
    <h1 class="text-center big-header"><%= contact.name %></h1> 
    <p>Group: <%= contact.group %></p> 
    <p>Company or School: <%= contact.companyOrSchool %></p> 
    <p>Phone: <%= contact.phone %></p> 
    <p>Email: <%= contact.email %></p> 
    <p>Address: <%= contact.address %></p>
</div> 
<%- include("partials/footer") %> 